/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.page-copy {
    width: 85%;
    margin: 0 auto;
}
.page-contents {
    width: 85%;
    margin: 0 auto;
}