
// .testimonials{
   
// }
.carousel-box{
    margin: 0 auto;
    width: 95%;
    // background: green;

    .carousel-box-parts{
        background: $color_main-light;
        width: 86%;
        height: 480px;
        margin: 0 auto;
        text-align: center;
        // .testimonials{
        // }
        .main-carousel{
            width: 89%;
            margin: 0 auto;
            height: 80%;
            // left button
            .flickity-prev-next-button.previous{
                background:transparent;
                right: 105%;
                left: unset;
                top: 50%;
                path{
                    fill: $color_brand-main;
                    
                }
                // path[d]{
                //     [M 60,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z];
                // }
                
            }
            .flickity-prev-next-button.next{
                background:transparent;
                left: 105%;
                right: unset;
                top: 50%;

                path{
                    fill: $color_brand-main;
                    
                }
            }
            ol{
                display: none;
            }
            // .flickity-button{
                
            // }
            .flickity-viewport{
                height: 100%;

               
                .carousel-cell{
                    width: 100%; 
                    .quote{
                        font-style: italic;
                        width: 100%;
                        padding-top: 0.7rem;
                    }
                    .testifier:before{
                        content: "\2014";
                    }
                    //will be removed after all tests are done, Andrei
                    // .image-container{
                    //     height: 250px;                        
                    //     .fp-carousel{
                    //         max-width:100% ;
                    //         height: auto;
                    //     }
                    // }
                    //-------------------------  
                }
            }
        }
    }
}
/* external css: flickity.css */




