// Rem output with px fallback
// @mixin font-size($sizeValue: 1) {
// 	font-size: ($sizeValue * 16) * 1px;
// 	font-size: $sizeValue * 1rem;
// }

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

@mixin button{
	text-decoration: none;
	font-family: "Fira Sans";	
	font-size: 25px;	
	font-weight: bold;
	line-height: 21px;	
	text-align: center;
	height: 62px;	
	width: 190px;	
	
	padding: 10px 27px;
	margin: 50px;
	@content;
}

@mixin secondary-green{
	@include button;
	color: $color_brand-tertiary;
	border: 3px solid $color_brand-tertiary;
	background-color: #FFFFFF;
	@content;
	&:hover{
		background-color: $color_brand-tertiary;
		color: #FFFFFF;
	} 

}
@mixin primary-green{
	@include button;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 3px solid $color_brand-tertiary;
	background-color: $color_brand-tertiary;
	@content;

}

@mixin secondary-pink{
	@include button;
	color: $color_brand-secondary;
	border: 3px solid $color_brand-secondary;
	background-color: #FFFFFF;
	@content;
	&:hover{
		background-color: $color_brand-secondary;
		color: #FFFFFF;
	} 

}
@mixin primary-pink{
	@include button;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 3px solid $color_brand-secondary;
	background-color: $color_brand-secondary;
	@content;

}



*{
	box-sizing: border-box;
}
.primary-main{
	@include primary-green;
	margin: 50px;

	
}

@mixin desktop {
	@media (min-width: $desktop-width) {
	  @content;
	}
}

