/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

/* Menus */
// .menu-main-nav-container {
//     @include desktop {
//         width: 100%; 
//     }
// }
.main-navigation-mobile {
    top: 85px;
    position: fixed;
    height: 100vh;
    z-index: 99;
    font-size: 1.625rem;
    font-weight: bold;
    white-space: nowrap;
    // Animate
    width: 0;
    opacity: 0;
    transition: 0.5s ease;
    &.toggled {
        width: 262px;
        background: white;
        // Animate
        opacity: 1;
        transition: 0.5s ease;
        overflow: auto;
        }
    li {
        padding-bottom: 30px;
    }
    .menu {
        margin: 20px 32px;

        .selected + .show{
                height: auto;
                transition: 0.5s ease;
        }
    }
    @include desktop { 
        display: none;
    }
    a {
        color: $color_text-main;
        text-decoration: none;
    }
    .sub-menu {
        height: 0;
        overflow: hidden;
        background-image: linear-gradient(to right, $color_brand-main 33%, rgba(255,255,255,0) 0%);
        background-size: 222px 9px;
        background-repeat: repeat-x;
        white-space: normal;
        @include desktop {
            width: 0;
        }
        a {
            font-size: 1.4rem;
            font-weight: normal;
            color: $color_brand-main;
        }
        .sub-menu a{
            color: grey;
            font-size: 1.14rem;
            margin-left: 10px;
            font-weight: 300;
        }
    }
}
.main-navigation-desktop {
    display: none;
    @include desktop {
        display: initial;
        background: none;
        font-size: 1rem;
        text-transform: uppercase; 
        font-weight: normal;
        transition: 0s;
        // height: 50px;
        align-self: flex-end;
        position: static;
        width: 100%;
        order: 3;
        justify-content: space-between;
        // margin-top: 17px;
        overflow: visible;
        width: auto;
        .menu {
            display: flex;
            flex-direction: row;
            overflow: visible;
            li {
                width: 100px;
                padding: 0 5px;
                &:hover {
                    .sub-menu {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        a {
            color: $color_text-main;
            text-decoration: none;
        }
        .sub-menu {
            display: none;
            width: auto;
            background: white;
            white-space: nowrap;
            a {
                background: white;
            }
        }
    }
}
.menu-toggle {
    position: relative;
    z-index: 100;
}
.menu-item-type-taxonomy:after {
    font-family: FontAwesome;
    content: '\f107';
}