/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Accreditations */
.page-id-13 {
    .hero-image {
        display: none;
    }
    section {
        width: 90%;
        margin: auto;
    }
    h1 {
        margin-bottom: 2rem;
    }
    h3 {
        margin: 1rem 0;
        font-size: 2rem;
        @include desktop {
            font-weight: 500;
        }
    }
    p {
        padding: 0 2.5rem;
        font-size: 1.2rem;
        @include desktop {
            padding: 0;
        }
    }
    .accreditations-loop {
        padding: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        @include desktop {
            text-align: initial;
            display: flex;
        }
    }
    .accreditations-loop-contents {
        @include desktop {
            padding-left: 4rem;
        }
    }
    .accreditations-loop-image {
        @include desktop {
            padding-top: 2rem;
        }
    }
    .row-1 {
        background-color: $color_main-light;
        img {
            width: 124px;
            height: 124px;
            @include desktop {
                width: 250px;
                height: 250px;
            }
        }
    }
    .row-2 {
        .accreditations-loop-image {
            @include desktop {
                padding-top: 6rem;
            }
        }
        img {
            width: 278px;
            height: 100px;
            @include desktop {
                width: 315px;
                height: 113px;
            }
        }
    }
    .apply-now-button {
        text-align: center;
        margin-bottom: 4rem;
        a {
            @include button;
            text-transform: uppercase;
            color: #FFFFFF;
            border: 3px solid $color_brand-main;
            background-color: $color_brand-main;
        }
        @include desktop {
            display: none;
        }
    }
}