/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Accreditations */
.page-id-13 {
    .content-banner {
        display: none;
    }
    section {
        width: 85%;
        margin: auto;
    }
    h1 {
        margin: 2rem 0;
    }
    h3 {
        margin: 1rem 0;
        font-size: 2rem;
        @include desktop {
            font-weight: 500;
        }
    }
    p {
        padding: 0 2.5rem;
        font-size: 1.2rem;
        @include desktop {
            padding: 0;
        }
    }
    .accreditations-loop {
        padding: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        @include desktop {
            text-align: initial;
            display: flex;
        }
    }
    .accreditations-loop-contents {
        @include desktop {
            padding-left: 6rem;
        }
    }
    .accreditations-loop-image {
        @include desktop {
            padding-top: 2rem;
        }
    }
    .row-1 {
        background-color: $color_main-light;
        img {
            width: 124px;
            height: 124px;
            @include desktop {
                width: 250px;
                height: 250px;
            }
        }
    }
    .row-2 {
        .accreditations-loop-image {
            @include desktop {
                padding-top: 6rem;
            }
        }
        img {
            width: 278px;
            height: 100px;
            @include desktop {
                width: 315px;
                height: 113px;
            }
        }
    }
    .apply-now-button {
        text-align: center;
        margin-bottom: 4rem;
        a {
            @include button;
            text-transform: uppercase;
            color: #FFFFFF;
            border: 3px solid $color_brand-main;
            background-color: $color_brand-main;
        }
        @include desktop {
            display: none;
        }
    }
}

/* Why Tamwood */
.page-id-2 {
    .hero-image {
        background-position: top;
    }
    .container p {
        color: $color_brand-main;
    }
    .page-copy {
        width: 85%;
        margin: 0 auto;
        @include desktop {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
        }
    }
    .page-contents {
        width: 85%;
        margin: 0 auto;
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    .page-title p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 2.28rem;
        padding-bottom: 0;
        @include desktop {
            display: inline-block;
        }
    }
    p {
        padding-bottom: 2rem;
        @include desktop {
            padding-bottom: 0;
            line-break: none;
        }
    }
    .info-loop {
        background-color: $color_main-light;
        margin-bottom: 2rem;
        padding: 1rem;
        @include desktop {
            width: 32%;

        }
        img {
            margin-bottom: 1rem;
            @include desktop {
                margin-bottom: 1.5rem;
            }
        }
        h3 {
            @include desktop {
                font-weight: 500;
                font-size: 2rem;
                padding: 0 3rem;
                margin-bottom: 2rem;
                line-height: 1.2;
            }
        }
        .inside-box {
            border: 1px solid #ffffff;
            padding: 2rem 1rem 2rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            @include desktop {
                height: 100%;
            }
            p {
                text-align: initial;
            }
        }
    }
    .row-1 {
        img {
            height: 92px;
            width: 66px;
            @include desktop {
                height: 120px;
                width: 95px;
            }
        }
    }
    .row-2 {
        img {
            height: 71px;
            width: 67px;
            @include desktop {
                height: 120px;
                width: 119px;
            }
        }
    }
    .row-3 {
        img {
            height: 63px;
            width: 65px;
            @include desktop {
                height: 125px;
                width: 120px;
            }
        }
    }
    .apply-now-button {
        text-align: center;
    }
    .apply-button {
        @include button;
	    text-transform: uppercase;
	    color: #FFFFFF;
	    border: 3px solid $color_brand-secondary;
        background-color: $color_brand-secondary;
        @include desktop {
            display: none;
        }
    }
}

// Accommodation
.page-id-22 {
    .container {
        padding: 2rem 0;
    }
    .page-copy, .page-contents {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .option-item {
        margin-bottom: 2rem;
        @include desktop {
            width: 35%;
            margin: 0 2rem;
        }
        h2 {
            background-color: $color_brand-tertiary;
            color: #ffffff;
            padding: 0.5rem 0;
            @include desktop {
                color: #C6E08B;
                background-color: #ffffff;
                font-weight: 800;
                padding: 1rem 0;
                font-size: 2rem;
            }
        }
        h3 {
            color: $color_brand-tertiary;
            background-color: $color_tertiary-light;
            padding: 1rem 0 0.5rem 0;
            @include desktop {
                color: #ffffff;
                background-color: $color_brand-tertiary;
                font-weight: bold;
                font-size: 1.5rem;
                padding: 0;
                padding: 0.2rem 0;
            }
        }
        p {
            text-align: initial;
            background-color: $color_tertiary-light;
            padding: 0.5rem 1rem 2rem 1rem;
        }
    }
    .part-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include desktop {
            flex-direction: row;
            padding: 0 2rem;
            margin-bottom: 4rem;
        }
    }
    .subsection-item {
        margin-bottom: 2rem;
        @include desktop {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            width: 35%;
        }
    }
    .subsection-banner {
        @include desktop {
            display: flex;
            justify-content: space-around;
        }
    }
    .part-2 {
        text-align: center;
        @include desktop {
            text-align: initial;
            margin-bottom: 3rem;
        }
        h2 {
            padding-bottom: 2rem;
        }
        p {
            text-align: initial;
            padding: 0 2rem 2rem 0;
            @include desktop {
                margin-bottom: 2rem;
            }
        }
        h3 {
            color: $color_brand-tertiary;
            padding-bottom: 2rem;
            font-weight: 200;
            @include desktop {
                color: $color_text-main;
                order: 3;
                margin: 1rem 0 0 1.5rem;
            }
        }
        img {
            padding-bottom: 1.2rem;
            @include desktop {
                height: 176px;
                width: 176px;
                padding: 0;
            }
        }
        .location-group {
            @include desktop {
                margin: 1rem 0 0 1rem;
                padding-top: 1rem;
            }
        }
        .price-text {
            text-align: center;
            padding: 0;
            @include desktop {
                margin-bottom: 0;
            }
        }
        h4 {
            color: $color_brand-tertiary;
            font-weight: 500;
            @include desktop {
                color: $color_text-main;
                font-family: 'Merriweather', sans-serif;
            }
        }
    }
    .apply-now-button {
        text-align: center;
    }
    .apply-button {
        @include button;
        margin: 0;
	    text-transform: uppercase;
	    color: #FFFFFF;
	    border: 3px solid $color_brand-tertiary;
        background-color: $color_brand-tertiary;
        @include desktop {
            display: none;
        }
    }
}

// Employment service
.page-id-18 {
    .page-title {
        padding: 2rem 0;
        @include desktop {
            padding-bottom: 1rem;
        }
    }
    .section {
        width: 85%;
        margin: 0 auto;
    }
    h4 {
        color: #C6E08B;
    }
    .n-1 h3, h4{
        text-align: center;
        padding-bottom: 1rem;
        @include desktop {
            text-align: initial;
        }
    }
    .n-1 {
        display: flex;
        flex-direction: column;
        h3 {
            @include desktop {
                font-size: 3.3rem;
                font-weight: bold;
                color: $color_brand-tertiary;
            }
        }
        h4 {
            @include desktop {
                font-size: 1.5rem;
                color: $color_text-main;
            }
        }
    }
    .section-div-1 {
        @include desktop {
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
        }
    }
    .section-div-1 p {
        @include desktop {
            width: 45%;
        }
    }
    .info-list {
        background-color: $color_tertiary-light;
        padding: 1rem;
        height: 6.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        @include desktop {
            width: 45%;
            height: 7rem;
        }
        .fa {
            margin-right: 1rem;
        }
    }
    .footnote {
        font-size: 0.8rem;
        max-width: 14rem;
        padding: 1rem 0;
        margin: 1rem 0;
        align-self: flex-end;
        @include desktop {
            background-color: white;
            align-self: right;
            padding: 0;
            margin: 2rem;
            width: 100%;
        }
    }
    p {
        padding: 2rem 0;
    }
    .info-img {
        width: 100%;
        height: 16rem;
        @include desktop {
            height: 14rem;
        }
        img {
            width: 100%;
            height: 16rem;
            @include desktop {
                height: 13rem;
            }
        }
    }
    .apply-now-button-1 {
        display: none;
        @include desktop {
            display: inherit;
            width: 85%;
            margin: 0 auto;
        }
    }
    .apply-button-1 {
        @include button;
	    text-transform: uppercase;
	    color: #FFFFFF;
	    border: 3px solid $color_brand-tertiary;
        background-color: $color_brand-tertiary;
        margin: 0;
        margin-bottom: 4rem;
    }
    .n-2 {
        text-align: center;
        background-color: $color_tertiary-light;
        padding: 2rem 5rem;
        margin-bottom: 2rem;
        @include desktop {
            display: flex;
            justify-content: space-between;
            padding: 2rem 3rem;
        }
    }
    .info-section-item {
        text-align: initial;
        h4 {
            @include desktop {
                text-align: center;
                color: $color_text-main;
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
        @include desktop {
            width: 100%;
            margin: 0 1rem;
        }
        p {
            padding: 1rem 0;
        }
    }
    .info-section-item:last-child p {
        padding: 0.2rem;
    }
    .info-section-item:last-child h4 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .apply-now-button-2 {
        text-align: center;
        @include desktop {
            display: none;
        }
    }
    .apply-button-2 {
        @include button;
	    text-transform: uppercase;
	    color: #FFFFFF;
	    border: 3px solid $color_brand-tertiary;
        background-color: $color_brand-tertiary;
    }
}

// 
.term-hospitality-and-tourism {
    .hero-image-banner {
        width: 100%;
        .hero-img {
            width: 100%;
            height: 300px;
        }
    }
    .page-header {
        width: 85%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .container-1 {
        width: 85%;
        margin: 0 auto;
        h2 {
            color: $color_brand-secondary;
            font-weight: 300;
            padding: 1rem 0;
        }
        p {
            padding: 1rem 0;
        }
    }
    .loop-header {
        text-align: center;
        font-weight: 300;
        padding: 1rem 0;
    }
    .container-2 {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
        }
    }
    .entry-title a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $color_text-main;
        font-weight: 300;
    }
    .entry-title {
        margin-bottom: 2rem;
        border: 2px solid $color_brand-secondary;
        padding: 2rem;
        margin: 1rem;
    }
    .carousel-box, .main-carousel {
        background-color: $color_secondary-light;
        @include desktop {
            margin-bottom: 2rem;
        }
    }
    .apply-button {
        @include button;
	    text-transform: uppercase;
	    color: #FFFFFF;
	    border: 3px solid $color_brand-secondary;
        background-color: $color_brand-secondary;
        @include desktop {
            display: none;
        }
    }
}


/* Contact Us */

.contact-campus-loop {
    @include desktop {
        display: flex;
    }
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    .contact-post-container {
        width: 32%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 290px;
            width: auto;
        }
    }
    h2 {
        height: 108px;
        width: 265px;
        text-align: center;
        margin: 0 auto;
    }
    .contact-post-head {
        height: 400px;
        max-width: 100%;
        overflow: hidden;
    }
}
.contact-campus-info {
    margin-top: 40px;
    align-self: flex-start;
    p:first-child {
        border-top: 2px solid $color_brand-main;
        font-size: 1.55rem;
        margin-bottom: 15px;
        height: 84px;
        padding-right: 20px;
    }
    p {
        font-size: 1rem;
    }
}
.contact-loop-back {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    background: $color_main-light;
    height: 420px;
}


/* Apply Now */

.document-checklist {
    background: $color_main-light;
    height: 300px;
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    padding: 0 10%;
    h3.checklist-heading {
        margin: 0;
        padding: 10px 0;
        font-size: 1.55rem;
        width: 100%;

    }
    p {
        font-size: 1rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
        }
    }
    li {
        padding: 10px;
    }
    i {
        margin-right: 10px;
    }

    //Fixed over document checklist for mobile, currently broken

    // &.mobile {
    //     position: fixed;
    //     z-index: 1;
    //     left: 0;
    //     top: 0;
    //     max-width: 100%;
    //     height: 100vh;
    //     background: white;
    //     .document-checklist-inner {
    //         width: 90%;
    //         margin: 120px auto 10px;
    //         padding: 30px 20px 50px;
    //         background: $color_main-light;
    //         p, li{
    //             font-size: 1.29rem; 
    //         }
    //         li {
    //             margin-top: 30px;
    //             padding: 0 20px;
    //         }
    //     }
    //     h3 {
    //         font-size: 1.86rem;
    //         text-align: center;
    //     }
    //     i {
    //         margin-right: 10px;
    //     }
    //     .close-checklist {
    //         @include primary-pink;
    //         margin: 20px auto;
    //         margin-left: 5%;
    //     }
    // }
}