// Search no results
.search-no-results {
    .search-noresults-container {
        width: 85%;
        margin : 0 auto;
        background-color: $color_main-light ;
        margin-top: 4rem;
        padding-top: 3rem;
        text-align: center;
    }
    .search {
        display: none;
    }
    .page-content {
        padding: 3rem;
    }
    fieldset {
        margin-top: 2rem;
        height: 2.5rem;
        label {
            background-color: #ffffff;
            border: 2px solid $color_brand-main;
            border-radius: 3px;
            height: 2.5rem;
            font-size: 1.5rem;
        }
        input {
            width: 10rem;
            position: relative;
            bottom: 4px;
            font-size: 1rem;
            border: none;
        }
        .search-submit {
            background: transparent;
            padding: 0;
            border: none;
            margin-left: 1rem;
        }
        .fa {
            color: $color_brand-main;
            font-size: 1.2rem;
        }
    }
}

// Search results
.search-results {
    .search-page-img {
        width: 85%;
        margin : 0 auto;
        background-color: $color_main-light ;
        text-align: center;
        padding: 2rem 0;
        margin-bottom: 2rem;
    }
    .page-title {
        width: 85%;
        margin: 0 auto;
        padding: 2rem 0;
    }
    .search-results-container {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 2rem;
        a {
            text-decoration: none;
            color: $color_brand-main;
        }
    }
}