//THIS PARTAL IS TO BE ADDED TO "_page-template.php" into .page-template-student-support body class

.page-template-student-support{
    section{
        img{
            width: 330px;
        }
    }
    // .student-support-carousel{
    //     margin: 0 auto;
    //    height: 200px;
    //     background: green;
    // }
   


    .flickity-enabled{
        height: 250px;
        border: 3px solid black;
        *{
            box-sizing: border-box;
        }

         .flickity-viewport{
             height: 250px!important;
             display: flex;
             border: 3px solid orange;

             .flickity-slider{
                display: flex;
                align-items: center;

                // .carousel-cell {
                //     // margin: 0 !important;
                // }

                  .is-selected{
                     height: 230px !important;
                    //  width: 230px !important;

                 }
             }

             
     
            
         }
     }


}


