/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color_text-main;
	font-family: $font_text-main;
	// @include font-size(1);
	line-height: $font__line-height-body;
}

html{
	font-size: $font_size-main-mobile;
	@include desktop{
		font-size: $font_size-main-desktop;
	}
}



/* Headings */

h1{
	font-size: 2.28rem;
	font-weight: bold;
	text-transform: uppercase;
	@include desktop{
		font-size: 4.28rem;
	}
}
h2{
	font-size: 1.85rem;
	font-weight: 500;
	text-transform: capitalize;
	@include desktop{
		font-size: 2.57rem;
	}
}
h3{
	font-size: 1.57rem;
	font-weight: 300;
	text-transform: capitalize;
	@include desktop{
		font-size: 2rem;
	}
}
h4{ 
	font-size: 1.28rem;
	font-weight: 300;
	text-transform: capitalize;
	@include desktop{
		font-size: 1.28rem;
	}
}
/* Copy */

p{
	font-size: 1rem;
	font-family: $font_text-copy ;
	@include desktop {
		font-size: 1.28rem;
	}
}