/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color_text-main;
	font-family: $font_text-main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1 {
	font-size: 4.2rem;
	font-weight: bold;
	color: $color_text-main ;
	text-transform: uppercase;
}
h2 {
	
}

/* Copy */

