// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;

$color_brand-main: #003DA6;
$color_brand-secondary: #B52371;
$color_brand-tertiary: #7FBC16;
$color_text-main: #3D3D3D;
$color_secondary-background: #F4F4F4;
$color_main-light: #EAEEF6;
$color_secondary-light: #EED9EF;
$color_tertiary-light: #F1F7E3;


// Typography

$font__main: sans-serif;
$font__line-height-body: 1.5;

$font_text-main: 'Fira, Sans';
$font_tetx-copy: 'Merriweather, Serif';


